<html>
	<head>
		<title></title>
	</head>
	<body>
		<h2>
			@{
				MustachedOctoRobot.MainClass.OpenedSessions.Add("LOL");
				foreach(var sess in MustachedOctoRobot.MainClass.OpenedSessions){
					@Html.TextBoxFor(m => sess);
				}
			}
		</h2>
	</body>
</html>
